In [139]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [140]:
df = pd.read_csv('regression_data.csv')

df= df.iloc[1:, 0]
df

1      34,826
2      38,940
3      37,131
4      43,559
5      44,325
6      42,657
7      43,600
8      44,599
9      44,165
10     46,705
11     43,562
12    38681.0
Name: 0, dtype: object

In [141]:
train = df.iloc[:-3]
test = df.iloc[-3:]
train.values

array(['34,826', '38,940', '37,131', '43,559', '44,325', '42,657',
       '43,600', '44,599', '44,165'], dtype=object)

In [142]:
yframe = pd.DataFrame({'Year': range(2003, 2012)})
yframe

   Year
0  2003
1  2004
2  2005
3  2006
4  2007
5  2008
6  2009
7  2010
8  2011

In [143]:
train

1    34,826
2    38,940
3    37,131
4    43,559
5    44,325
6    42,657
7    43,600
8    44,599
9    44,165
Name: 0, dtype: object

In [144]:
yframe

   Year
0  2003
1  2004
2  2005
3  2006
4  2007
5  2008
6  2009
7  2010
8  2011

In [145]:
# Import necessary libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import xgboost as xgb

In [146]:
train_data = pd.Series(train.values)
y_data = pd.Series(yframe.values.flatten().tolist(), name='Year')

In [147]:
train_data = train_data.str.replace(',', '').astype(float)

# Combine features and labels into a single DataFrame
df = pd.DataFrame({'X': train_data, 'Year': y_data})

print(df)
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df[['Year']], df['X'], test_size=0.2, random_state=42)

# Create an XGBoost regression model
model = xgb.XGBRegressor(objective ='reg:squarederror')
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

# Now you can use the model to predict X for a particular year
year_to_predict = 2022  # Replace with the year you want to predict
X_to_predict = np.array([[year_to_predict]])
predicted_X = model.predict(X_to_predict)
print(f'Predicted X for {year_to_predict}: {predicted_X[0]}')

         X  Year
0  34826.0  2003
1  38940.0  2004
2  37131.0  2005
3  43559.0  2006
4  44325.0  2007
5  42657.0  2008
6  43600.0  2009
7  44599.0  2010
8  44165.0  2011
Mean Squared Error: 8961454.191482544
Predicted X for 2022: 44164.98828125