In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [11]:
df= pd.read_csv('regression_data.csv')
df.head()

,States/UTs,2003,2004,2005,2006,2007,2008,2009,2010,2011,2018,2019,2020
0,Andhra Pradesh,"34,826","38,940","37,131","43,559","44,325","42,657","43,600","44,599","44,165","46,705","43,562",38681.0
1,Arunachal Pradesh,245,241,231,250,240,280,306,293,263,277,237,134.0
2,Assam,"3,262","3,688","4,258","4,694","4,403","4,683","4,869","5,828","6,569",8248,8350,6595.0
3,Bihar,"6,141","4,027","3,768","5,594","7,774","8,991","10,065","11,033","10,673",9600,10007,8639.0
4,Chhattisgarh,"10,521","10,600","11,164","11,934","12,296","12,945","12,888","13,664","14,108",13864,13899,11656.0

In [14]:
df_test=df[['2018','2019','2020']]
df_train=df.loc[:, '2003':'2011']

In [39]:
df_transposed = df_train.transpose()

df_train=df_transposed.iloc[:, 0]
df_train

AttributeError: 'str' object has no attribute 'transpose'